/* Terminal styles */
body{
  background-color: #000;
}
.terminal {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-radius: 4px;
}

.terminal-body {
  height: 80%;
  font-size: large;
  padding: 10px;
  padding: 10px;
  overflow-y: auto;
}

.terminal-content {
  font-size: large;
  color: #fff;
  margin-bottom: 5px;
}

.terminal-prompt {
  font-size: large;
  padding: 10px;
  color: #00ff00;
  margin-right: 5px;
}

.terminal-command {
  color: #fff;
}

.terminal-input {
  font-size: large;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #111;
}

.terminal-input input {
  font-size: large;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: monospace;
}

